{% extends "base.html" %} {% block title %}Saved Passwords{% endblock %} {%
block content %}
<div class="mt-4">
	<h1 class="text-center">Saved Passwords</h1>
	<table class="table table-striped mt-4">
		<thead>
			<tr>
				<th scope="col">Website</th>
				<th scope="col">Username</th>
				<th scope="col">Password</th>
				<th scope="col">Date Created</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for password in passwords %}
			<tr>
				<td>{{ password.website }}</td>
				<td>{{ password.username }}</td>
				<td>{{ password.password }}</td>
				<td>{{ password.date_created }}</td>
				<td>
					<form
						action="{{ url_for('delete_password', password_id=password.id) }}"
						method="POST"
						style="display: inline"
					>
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
					<form
						action="{{ url_for('update_password', password_id=password.id) }}"
						method="POST"
						style="display: inline"
					>
						<button type="submit" class="btn btn-warning btn-sm">Update</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ url_for('index') }}" class="btn btn-primary">Back to Generator</a>
</div>
{% endblock %}
