<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Saved Passwords</title>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container mt-5">
			<h1 class="text-center">Saved Passwords</h1>
			<table class="table table-striped mt-4">
				<thead>
					<tr>
						<th scope="col">Website</th>
						<th scope="col">Username</th>
						<th scope="col">Password</th>
					</tr>
				</thead>
				<tbody>
					{% for website, username, password in passwords %}
					<tr>
						<td>{{ website }}</td>
						<td>{{ username }}</td>
						<td>{{ password }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="/" class="btn btn-primary">Back to Generator</a>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
